<% provide(:title, "New Team") %>
<h1>Create a new team!</h1>

<%= form_for @team, url: {action: "create"} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :password %>
  <%= f.text_field :password %>
  <br />
  <%= f.submit "Create Team", class: "waves-effect waves-light btn" %>
<% end %>
