<% provide(:title, "New User") %>
<h1>Users#new</h1>
<p>Create a new user! You may select an already existing team, or create a new team.</p>

<%= form_for @user do |form| %>
  Name     : <%= form.text_field :name %>  <br />
  Email    : <%= form.text_field :email %> <br />
  <%= link_to 'Create a new team', new_user_path, remote: true, id: "new_team_button" %> <br />
  <div id="user-form">
    <%= render 'existing_team_form' %>
  </div>
  <%= form.submit %>
<% end %>
