<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Coder's Conundrum</title> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <nav>
    <div class="nav-wrapper blue-grey darken-4">
    <%= link_to "Coder's Conundrum", root_path, class: "brand-logo", style: "padding-left: 10px;font-size: 1.5rem;" %>
    <ul class="right hide-on-med-and-down">
      <% if logged_in %>
        <li>Welcome, <%= current_user.name %></li>
      <% end %> 
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Questions", questions_path %></li>
      <li><%= link_to "Teams", teams_path %></li>
      <li><%= link_to "Scoreboard", scoreboard_path %></li>
      <% if logged_in %>
        <li><%= link_to "My Team", team_path(current_user.team_id) %></li>
        <li><%= link_to "Log out", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", login_path %></li>
      <% end %>
    </ul>
    </div>
  </nav>

</head>
<body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <% if message_type != "validation_errors" %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      <% end %>
    </div>

    <div class="container">
     <%= yield %>
    </div>

</body>
</html>
